{% extends 'layout.html' %}

{% block css %}
	<style>
        .files input {
            margin-bottom: 10px;
        }
	</style>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-th-list" aria-hidden="true" style="margin-right: 5px"></span>
				批量添加
			</div>
			<div class="panel-body files">
				<form action="/depart/multi/" method="post" novalidate enctype="multipart/form-data">
					{% csrf_token %}
					<input type="text" placeholder="标题" name="file_name">
					<input type="file" name="file_content">
					<input type="submit" value="上传" class="btn btn-primary">
				</form>
			</div>
		</div>

		<a href="/depart/add/" class="btn btn-primary" style="margin-bottom: 20px">添加部门</a>

		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-th-list" aria-hidden="true" style="margin-right: 5px"></span>
				部门列表
			</div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>部门名称</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{% for item in depart_data %}
						<tr>
							<th scope="row">{{ item.id }}</th>
							<td>{{ item.title }}</td>
							<td>
								<a href="/depart/{{ item.id }}/edit/" class="btn btn-primary btn-xs">编 辑</a>
								<a href="/depart/{{ item.id }}/delete/" class="btn btn-danger btn-xs">删 除</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<ul class="pagination center">
			{{ page_string }}
		</ul>
	</div>

{% endblock %}


