{% extends 'layout.html' %}

{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static "plugins/bootstrap-datepicker-1.9.0/css/bootstrap-datepicker.min.css" %}">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">添加用户</div>
			<div class="panel-body">
				<form action="/user/add/" method="post" novalidate>
					{% csrf_token %}
					{% for field in form %}
						<div class="form-group">
							<label for="">{{ field.label }}</label>
							{{ field }}
							<span style="color: red; padding-left: 15px">{{ error_msg }}</span>
						</div>
					{% endfor %}

					<div class="form-group">
						<button type="submit" class="btn btn-primary center-block">提 交</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}


{% block js %}
	<script src="{% static "plugins/bootstrap-datepicker-1.9.0/js/bootstrap-datepicker.min.js" %}"></script>
	<script src="{% static "plugins/bootstrap-datepicker-1.9.0/locales/bootstrap-datepicker.zh-CN.min.js" %}"></script>

	<script>
		$(function () {
			$('#id_create_time').datepicker({
				format: "yyyy-mm-dd",
				startDate: '0',
				language: 'zh-CN',
				autoclose: true,
			})
        })
	</script>
{% endblock %}